<nav class="navbar navbar-expand-lg bg-transparent bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="admin.php">
        <img src="asset/purple.png" alt="logo" width="80" height="40">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav nav-underline">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="admin.php">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="foto.php">photo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="album.php">album</a>
          </li>
        </ul> 
  <form active="admin.php" method="post">
    <button type="submit" class="btn btn-transparent btn-sm text-white" name="logout">logout</button>
  </form>

      </div>
    </div>
  </nav>